@import url('https://fonts.googleapis.com/css?family=McLaren|Noto+Sans+TC|Noto+Serif+TC&display=swap');
.firstTopic .backColor {
    background-color: #FFFF00;
}

.firstTopic .textContent {
    color: #0000FF;
    font-size: 22px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    color: #0000FF;
}

.package {
    width: 100%;
    float: center;
}

.categoryTopic {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(230, 182, 9);
}

.imgCap {
    text-align: center;
    font-family: 'Noto Serif TC', serif;
    font-style: italic;
    font-size: 13px;
    color: gray;
}

.food .categoryTopic::before {
    background-image: url("https://pic.sopili.net/pub/emoji/twitter/2/72x72/2615.png");
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 7px;
    background-size: 20px 20px;
}

.cloth .categoryTopic::before {
    background-image: url("https://pic.sopili.net/pub/emoji/twitter/2/72x72/1f45c.png");
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 7px;
    background-size: 20px 20px;
}


.scenery .categoryTopic::before {
    background-image: url("https://pic.sopili.net/pub/emoji/twitter/2/72x72/1f4f8.png");
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 7px;
    background-size: 20px 20px;
}

.packageTopic {
    color: #064E86;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
}

.packageBlock {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
    color: #E40066;
    margin-bottom: 20px;
}

.schedule .topic {
    font-family: 'Noto Sans TC', sans-serif;
    color: rgb(192, 103, 9);
    font-size: 16px;
}

.secondTopic {
    color: rgb(7, 134, 28);
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
}

.dayTopic {
    font-family: mclaren, cursive;
    font-size: 16px;
    text-decoration: underline
}

.dayTopic::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url("//s.pixfs.net/f.pixnet.net/images/emotions/043.gif");
    margin-right: 7px;
    background-size: 20px 20px;
}

.headImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.scheduleList {
    line-height: 5px;
}

.scheduleList p {
    font-family: 'Noto Sans TC', sans-serif;
    color: rgb(192, 103, 9);
    font-size: 16px;
}

.scheduleList p::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url("//s.pixfs.net/f.pixnet.net/images/emotions/054.gif");
    margin-right: 7px;
}

.linkTopic span {
    color: red;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
}

.linkTopic::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url("//s.pixfs.net/f.pixnet.net/images/emotions/032.gif");
    margin-right: 7px;
}

.linkList p::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url("//s.pixfs.net/f.pixnet.net/images/emotions/034.gif");
    margin-right: 7px;
}

.linkList p {
    font-size: 14px;
    font-family: 'Noto Sans TC', sans-serif;
    color: blueviolet;
    line-height: 3px;
}

.linkList p a {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Noto Sans TC', sans-serif;
    color: blueviolet;
    line-height: 3px;
}

.linkList p a:hover {
    text-decoration: underline;
    color: rgb(228, 47, 15);
}

.article {
    font-family: 'Noto Serif TC', serif;
    font-size: 14px;
}

.firstHighLight {
    font-weight: bolder;
    background-color: yellow;
    color: blue;
    font-size: 14.5px;
    font-family: 'Noto Sans TC', sans-serif;
}

.secondHighLight {
    text-decoration: underline;
    font-size: 14.5px;
    font-family: 'Noto Sans TC', sans-serif;
    color: red;
    font-weight: bolder;
    font-size: 14.5px;
}

.thirdHighLight {
    font-style: italic;
    font-size: 14.5px;
    font-family: 'Noto Sans TC', sans-serif;
    color: rgba(236, 94, 12, 0.836);
    font-weight: bolder;
}

.infoCard .topic {
    color: red;
    text-decoration-line: underline;
    font-weight: bold;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
}

.infoCard .topic::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url("//s.pixfs.net/f.pixnet.net/images/emotions/032.gif");
    margin-right: 7px;
    background-size: 20px 20px;
}

.infoCard .list p{
    font-size: 14px;
    font-family: 'Noto Sans TC', sans-serif;
    color: rgb(89, 93, 84);
    line-height: 3px;
}

.infoCard .list p a{
    text-decoration: none;
    font-size: 14px;
    font-family: 'Noto Sans TC', sans-serif;
    color: blueviolet;
    line-height: 3px;
}

.infoCard .list p a:hover{
    text-decoration: underline;
    color: rgb(228, 47, 15);
}

.location::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url("https://2.bp.blogspot.com/-ET0xNvxr9mo/XdTtEFPCNsI/AAAAAAAAC4M/iAJ3HgXnego2pPzpliwqb8ORi4ca7gfPACLcBGAsYHQ/s320/kisspng-computer-icons-google-maps-locator-map-5ae02a17da9671.0992648315246402798953.png");
    margin-right: 7px;
    background-size: 20px 20px;
}

.phone::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url("https://1.bp.blogspot.com/-YLEegCXh5IY/XdTtFIIhhSI/AAAAAAAAC4Y/dcfNfuE87GE6ScSKWekX6c9vnGZk-enxwCLcBGAsYHQ/s320/kisspng-telephone-call-icon-phone-png-clipart-5a753af2148dc1.4703392415176322420842.png");
    margin-right: 7px;
    background-size: 20px 20px;
}

.web::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url("//s.pixfs.net/f.pixnet.net/images/emotions/054.gif");
    margin-right: 7px;
    background-size: 20px 20px;
}

.price::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url("https://1.bp.blogspot.com/-T2RSVWSDScA/XdTtEnOv5HI/AAAAAAAAC4U/3WTlx2KQJEEWTPa6_Y868D_njMBjD7lPQCLcBGAsYHQ/s320/kisspng-dollar-sign-scalable-vector-graphics-symbol-vector-money-symbol-5a9a2892ccd255.998545541520052370839.png");
    margin-right: 7px;
    background-size: 20px 20px;
}

/* TODO: Personal Card */


